<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.hostname" value="127.0.0.1" />
    <property name="log.port" value="8080" />
    <property name="spring.application.name" value="eureka-consumer-ribbon" />

    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <include resource="base.xml"/>

    <jmxConfigurator />
</configuration>